/* main.scss - Contains all styling for mhfcommunities.org */
/****** COLORS ******/
/****** FONTS ******/
/****** SPACERS ******/
/****** SHADOWS ******/
button,
.cta-a,
.carousel-cta,
input[type=search],
input[type=submit],
.questionnaire-div,
.questionnaire-radio_button,
.questionnaire-input-text,
.questionnaire-input-textarea,
.copy-action-a {
  box-shadow: 0 0 7px #427aa1; }

#copy-top,
#copy-middle,
#copy-bottom-container-1 {
  box-shadow: 0 2px 7px #427aa1; }

/****** TYPOGRAPHY STYLING ******/
#nav-ul .nav-a .nav-span,
button,
.cta-a,
input[type=submit],
.copy-action-a {
  font-family: eurostile, sans-serif; }

p,
input[type=search],
.footer-contact_info-listing-div,
.contact_info-listing-info-a,
#footer-copyright-span,
.footer-links-a,
.about_us-quote-blockquote,
.about_us-quote-figcaption,
h2,
.about_us-community-ol li,
.about_us-community-a,
.about_us-training_team-individual-span,
h1,
.cta-contact_us-contact_info,
.cta-contact_us-contact_info a,
.questionnaire-contact_form-label,
.questionnaire-input-text,
.questionnaire-input-textarea,
.cta-link-a,
.menu-option-a,
.menu-suboption-a,
.menu-footer-span {
  font-family: myriad-pro, sans-serif; }

#nav-ul .nav-a .nav-span,
p,
.contact_info-listing-info-span,
#footer-copyright-span,
.about_us-quote-figcaption,
.about_us-community-ol li,
.about_us-community-a,
.cta-contact_us-contact_info,
.questionnaire-input-text,
.questionnaire-input-textarea,
.menu-option-a,
.menu-suboption-a {
  font-weight: 400; }

.carousel-item .carousel-cta p,
.questionnaire-p,
.contact_info-listing-title-span,
#footer-copyright-span,
.about_us-quote-blockquote,
.about_us-training_team-individual-span,
.questionnaire-contact_form-label,
.cta-link-a {
  font-weight: 600; }

button,
.cta-a,
.p-first:first-line,
input[type=submit],
h2,
h1,
.copy-action-a,
.menu-footer-span {
  font-weight: 700; }

button,
.cta-a,
input[type=submit],
#footer-copyright-span,
.about_us-training_team-individual-span,
#top-mobile-nav #nav-ul .nav-a .nav-span,
.copy-action-a,
.menu-footer-span {
  font-size: 0.8rem; }

.about_us-training_team-individual-span,
.menu-suboption-a {
  font-size: 0.9rem; }

#top-desktop-nav #nav-ul .nav-a .nav-span,
.homepage-mobile-copy-div p,
.homepage-mobile-copy-div input[type=search],
.copy-border-div-1 + p,
.menu-option-a {
  font-size: 1rem !important; }

.carousel-item .carousel-cta p,
.container p,
input[type=search],
.questionnaire-label,
.footer-contact_info-listing-div,
.footer-links-a,
.about_us-quote-figcaption,
.about_us-community-ol li,
.about_us-community-a,
.cta-contact_us-contact_info,
.questionnaire-contact_form-label,
.questionnaire-input-text,
.questionnaire-input-textarea,
.cta-link-a {
  font-size: 1.1rem; }

.container .questionnaire-p {
  font-size: 1.5rem; }

.p-first:first-line,
.about_us-quote-blockquote,
h2 {
  font-size: 1.7rem; }

h1 {
  font-size: 2.25rem; }

.questionnaire-radio_button::before {
  font-size: 23.8em; }

button,
.cta-a,
input[type=submit],
#copy-top p,
.copy-action-a,
.menu-option-a,
.menu-suboption-a,
.menu-footer-span {
  color: #ebf2fa; }

p,
.questionnaire-label,
.footer-contact_info-listing-div,
#footer-copyright-span,
.about_us-quote-blockquote,
.about_us-quote-figcaption,
h2,
.about_us-community-ol li,
.about_us-training_team-individual-span,
.cta-contact_us-contact_info,
.questionnaire-contact_form-label {
  color: #05668d; }

h1 {
  color: #427aa1; }

#nav-ul .nav-a .nav-span,
.contact_info-listing-info-a,
.footer-links-a,
.about_us-community-a,
.cta-contact_us-contact_info a,
.cta-link-a {
  color: #679136; }

input[type=search],
.questionnaire-input-text::placeholder,
.questionnaire-input-textarea::placeholder {
  color: #9397a0; }

.questionnaire-input-text,
.questionnaire-input-textarea {
  color: #1d1e28; }

.questionnaire-p {
  line-height: 1.2; }

.about_us-quote-blockquote {
  line-height: 1.3; }

.contact_info-listing-info-a,
.footer-links-a,
.about_us-community-a,
.cta-contact_us-contact_info a {
  text-decoration: underline; }

#nav-ul .nav-a .nav-span,
button,
.cta-a,
input[type=submit],
.copy-action-a {
  text-transform: uppercase; }

.about_us-quote-blockquote {
  font-style: italic; }

.questionnaire-p,
h1 {
  letter-spacing: -0.7px; }

.about_us-quote-blockquote,
.about_us-training_team-individual-span {
  letter-spacing: -0.3px; }

.homepage-mobile-copy-div p,
.menu-suboption-a {
  letter-spacing: -0.1px; }

.p-first:first-line {
  letter-spacing: 0; }

p,
.about_us-quote-figcaption,
.about_us-community-ol li,
.cta-contact_us-contact_info,
.menu-suboption-a {
  letter-spacing: 0.2px; }

button,
.cta-a,
input[type=submit],
.copy-action-a {
  letter-spacing: 1.1px; }

.contact_info-listing-info-a,
.footer-links-a,
.about_us-community-a,
.cta-link-a {
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out; }

.contact_info-listing-info-a:hover,
.footer-links-a:hover,
.about_us-community-a:hover,
.cta-link-a:hover {
  color: #88cf2b; }

.menu-option-a:active,
.menu-suboption-a:active {
  color: #88cf2b; }

.cta-a:hover,
.copy-action-a:hover {
  color: #ebf2fa;
  text-decoration: none; }

/****** COLOR STYLING ******/
button,
.cta-a,
input[type=submit],
.questionnaire-radio_button::before,
.copy-action-a {
  background-color: #679136; }

#header-ellipses #ellipse-dark_green,
#homepage-ellipses #ellipse-dark_green,
#footer-ellipses #ellipse-dark_green {
  background-color: #05668d; }

#header-ellipses #ellipse-white {
  background-color: #fff; }

#homepage-ellipses #ellipse-blue,
#header-ellipses #ellipse-blue,
.questionnaire-radio_button,
#footer-background-div,
#footer-ellipses #ellipse-blue,
#copy-middle,
#copy-bottom,
.mobile-sub_page-main {
  background-color: #ebf2fa; }

.carousel-cta,
.questionnaire-div {
  background-color: #ebf2fa; }
  .carousel-cta .cta-border-top-div,
  .carousel-cta .questionnaire-border-top-div,
  .questionnaire-div .cta-border-top-div,
  .questionnaire-div .questionnaire-border-top-div {
    background-color: #679136; }
  .carousel-cta p,
  .questionnaire-div p {
    background-color: #ebf2fa; }

.copy-border-div-1 {
  background-color: #67B3C6; }

.questionnaire-border-div-1 {
  background-color: #8bbdd0; }

button,
.cta-a,
input[type=submit],
.copy-action-a {
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out; }

button:hover,
.cta-a:hover,
input[type=submit]:hover,
.copy-action-a:hover {
  background-color: #77b826; }

#top-mobile-nav {
  background-color: #fff; }

#copy-top {
  background-color: #325e83; }

/****** BORDERS ******/
button,
.cta-a,
input[type=submit],
.copy-action-a {
  border: 2px solid #ebf2fa;
  border-radius: 8px; }

#header-ellipses #ellipse-dark_green,
#homepage-ellipses #ellipse-dark_green,
#footer-ellipses #ellipse-dark_green {
  border: 10px solid #88cf2b; }

#homepage-ellipses #ellipse-blue,
#footer-ellipses #ellipse-blue {
  border: 10px solid #67B3C6; }

#header-ellipses #ellipse-blue {
  border: 10px solid #8bbdd0; }

.questionnaire-radio_button {
  border: 4px solid #679136; }

#top-mobile-nav {
  border-bottom: 2px solid #88cf2b; }

iframe {
  border-bottom: 5px solid #8bbdd0; }

#copy-top,
#img-middle {
  border-bottom: 5px solid #679136; }

#copy-bottom-container-2 {
  border-top: 5px solid #679136; }

#copy-middle,
#copy-bottom-container-1 {
  border-bottom: 5px solid #05668d; }

.carousel-cta,
.questionnaire-div,
.copy-questionnaire-img,
#copy-about_us-right-img,
#copy-contact_us-right-img {
  border-radius: 5px; }
  .carousel-cta .cta-border-top-div,
  .carousel-cta .questionnaire-border-top-div,
  .questionnaire-div .cta-border-top-div,
  .questionnaire-div .questionnaire-border-top-div,
  .copy-questionnaire-img .cta-border-top-div,
  .copy-questionnaire-img .questionnaire-border-top-div,
  #copy-about_us-right-img .cta-border-top-div,
  #copy-about_us-right-img .questionnaire-border-top-div,
  #copy-contact_us-right-img .cta-border-top-div,
  #copy-contact_us-right-img .questionnaire-border-top-div {
    border-radius: 5px 5px 0 0; }

.copy-border-div-1,
.questionnaire-border-div-1 {
  border-radius: 0 0 5px 5px; }

input[type=search],
.questionnaire-input-text,
.questionnaire-input-textarea {
  border: 2px solid #ebf2fa;
  border-radius: 5px; }

.ellipse_shape,
.questionnaire-radio_button,
.questionnaire-radio_button::before {
  border-radius: 100%; }

/******* COMMON ELEMENTS ****** */
:root {
  margin: 0;
  padding: 0;
  background-color: #fff;
  z-index: 0; }

button,
.cta-a,
input[type=submit],
.copy-action-a {
  margin: 40px;
  padding: 11px; }

input[type=search] {
  padding: 9px 16px 8px 16px; }

.visible-desktop {
  display: block !important; }

.visible-desktop-flex {
  display: flex !important; }

.visible-mobile {
  display: none !important; }

/******* HEADER ******/
header {
  z-index: 2; }
  header #header-ellipses {
    width: 99.5%;
    height: 31%;
    position: absolute;
    top: -16.5%; }
  header .ellipse_shape {
    width: 94%;
    height: 100%;
    position: absolute; }
  header #ellipse-white {
    width: 93%;
    top: -3%;
    left: 6.5%;
    z-index: 6; }
  header #ellipse-kente {
    left: 6%;
    background-image: url("/assets/img/common/borders/kente.jpg");
    background-repeat: repeat;
    z-index: 5; }
  header #ellipse-dark_green {
    width: 43%;
    top: -39%;
    left: -17%;
    transform: rotate(22deg);
    z-index: 4; }
  header #ellipse-blue {
    width: 64%;
    top: 20%;
    left: -14%;
    transform: rotate(5deg);
    z-index: 3; }
  header h1 {
    position: absolute;
    top: 13.5%;
    left: 21%;
    z-index: 4; }

/****** NAVIGATION ******/
#top-desktop-nav {
  width: 960px;
  margin-left: -480px;
  display: flex;
  position: absolute;
  top: 2%;
  left: 50%;
  z-index: 7; }
  #top-desktop-nav #nav-logo-desktop {
    display: block;
    flex: auto; }
  #top-desktop-nav #nav-ul {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex: auto;
    align-items: flex-end; }
    #top-desktop-nav #nav-ul li {
      width: 100px;
      margin-bottom: 23px;
      flex: auto;
      list-style-type: none;
      text-align: center; }
    #top-desktop-nav #nav-ul .nav-a {
      text-decoration: none; }
      #top-desktop-nav #nav-ul .nav-a img {
        width: 36px; }
      #top-desktop-nav #nav-ul .nav-a .nav-span {
        display: block; }
    #top-desktop-nav #nav-ul #nav-a-about_us img,
    #top-desktop-nav #nav-ul #nav-a-contact_us img {
      margin-bottom: 5px; }

/****** CAROUSEL ******/
.carousel {
  z-index: 2; }

.carousel-item img {
  width: 100%;
  height: auto; }
.carousel-item .carousel-cta {
  position: absolute;
  left: 19.5%;
  bottom: 19.5%; }
.carousel-item .carousel-cta .cta-border-top-div {
  height: 8px; }
.carousel-item .carousel-cta p {
  margin: 26px; }
.carousel-item .carousel-cta .cta-button,
.carousel-item .carousel-cta .cta-a {
  margin: 0 0 26px 26px;
  display: block; }

#cta-homepage {
  width: 322px; }

#cta-about_us {
  width: 378px; }
  #cta-about_us .cta-a {
    width: 173px; }

#cta-contact_us {
  width: 318px; }
  #cta-contact_us .cta-a {
    width: 238px;
    margin: 26px 0 36px 36px; }

#cta-directory {
  width: 477px; }
  #cta-directory .cta-a {
    width: 184px; }

#contact_info-phone_number {
  margin: 26px 0 13px 36px; }

/****** QUESTIONNAIRES ******/
.questionnaire-div .questionnaire-border-top-div {
  height: 8px; }
.questionnaire-div .questionnaire-outline-radio {
  margin-bottom: 13px;
  display: flex; }
  .questionnaire-div .questionnaire-outline-radio .questionnaire-radio_button {
    width: 58px;
    height: 58px;
    position: relative;
    appearance: none;
    -webkit-appearance: none; }
  .questionnaire-div .questionnaire-outline-radio .questionnaire-radio_button::before {
    width: 42px;
    height: 42px;
    display: block;
    content: " ";
    transform: translate(4px, 4px) scale(0);
    transform-origin: center;
    transition: all 0.2s ease-in; }
  .questionnaire-div .questionnaire-outline-radio .questionnaire-radio_button:checked::before {
    transform: translate(4px, 4px) scale(1);
    transition: all 0.2s ease-out; }
  .questionnaire-div .questionnaire-outline-radio .questionnaire-label {
    width: 350px;
    margin: 16px 0 0 13px; }
  .questionnaire-div .questionnaire-outline-radio .questionnaire-label-two_lines {
    margin: 4px 0 0 13px; }
.questionnaire-div .questionnaire-contact_form-div {
  margin-bottom: 26px; }
.questionnaire-div .questionnaire-contact_form-label {
  display: block;
  margin: 13px 0; }
.questionnaire-div .questionnaire-input-text,
.questionnaire-div .questionnaire-input-textarea {
  padding: 5px 8px 7px 8px; }

/****** HOMEPAGE ELLIPSES ******/
#homepage-ellipses {
  width: 99.5%;
  height: 56px;
  z-index: 1; }
  #homepage-ellipses .ellipse_shape {
    height: 112px;
    position: relative;
    border-radius: 100%; }
  #homepage-ellipses #ellipse-blue {
    width: 88.5%;
    top: -56px;
    left: 12%;
    z-index: 1; }
  #homepage-ellipses #ellipse-dark_green {
    width: 100%;
    top: -168px;
    left: -10px;
    z-index: 0; }

/****** COPY ******/
.container {
  margin-top: 36px;
  display: flex; }
  .container .col-6 {
    display: flex;
    flex: auto;
    flex-direction: column; }
  .container .col-left p,
  .container .col-left img,
  .container .col-left .questionnaire-div,
  .container .col-left h2,
  .container .col-left #about_us-training_team-div,
  .container .col-left .copy-border-div-1 {
    margin: 16px 0 0 54px; }
  .container .col-left #about_us-background-left-div {
    margin: 36px 0 36px 54px; }
  .container .col-left #questionnaire-homepage {
    margin: 26px 0 0 54px; }
  .container .col-left .questionnaire-p {
    margin: 13px 26px; }
  .container .col-left form {
    margin-left: 26px; }
  .container .col-left .questionnaire-border-div-1 {
    width: 90%;
    height: 5px;
    margin: 13px auto; }
  .container .col-left .questionnaire-button {
    margin: 13px 0 26px 0; }
  .container .col-left .questionnaire-input-text,
  .container .col-left .questionnaire-input-textarea {
    width: 416px; }
  .container .col-left .questionnaire-input-textarea {
    height: 286px; }
  .container .col-right p,
  .container .col-right img,
  .container .col-right iframe,
  .container .col-right .copy-border-div-1,
  .container .col-right form,
  .container .col-right h2,
  .container .col-right .about_us-community-ol {
    margin: 16px 0 0 62px; }
  .container .col-right .search-h2 {
    margin: 9px 0 0 62px; }
  .container .col-right p,
  .container .col-right img,
  .container .col-right .copy-border-div-1,
  .container .col-right input[type=search],
  .container .col-right h2,
  .container .col-right .about_us-community-ol {
    width: 395px; }
  .container .col-right #copy-form-search {
    height: 48px;
    margin: 26px 0 13px 62px; }
  .container .col-right input[type=submit] {
    margin: 0;
    position: relative;
    top: -46px;
    left: 317px; }

.copy-border-div-1 {
  height: 5px;
  margin-top: 13px; }

#homepage-background-top-left-div {
  background-image: url("/assets/img/copy/desktop/background_homepage_copy_top.svg");
  background-repeat: no-repeat; }
  #homepage-background-top-left-div p {
    margin-left: 54px; }
  #homepage-background-top-left-div .p-first {
    margin-top: 0;
    padding-top: 54px; }

#copy-homepage-left-img {
  margin-left: 0; }

#homepage-background-top-right-div {
  width: 100%;
  height: 261px;
  margin-top: 50px;
  background-image: url("/assets/img/copy/desktop/background_homepage_video.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50% 0; }
  #homepage-background-top-right-div iframe {
    margin-top: 21px; }

#copy-homepage-top-right-img {
  margin: 16px 0 16px 62px; }

#about_us-background-left-div {
  height: 252px;
  background-image: url("/assets/img/copy/desktop/background_about_us_quote.svg");
  background-repeat: no-repeat;
  background-size: 88%;
  background-position: 50% 0; }
  #about_us-background-left-div .about_us-quote-blockquote {
    display: block;
    position: relative;
    transform: translate(30px, 70px); }
  #about_us-background-left-div .about_us-quote-figcaption {
    transform: translate(53px, 55px); }

#copy-about_us-right-img {
  margin-top: 31px; }

.about_us-community-ol {
  padding-left: 16px; }
  .about_us-community-ol li {
    margin-bottom: 16px; }

#about_us-training_team-div {
  display: flex; }
  #about_us-training_team-div .about_us-training_team-member-div {
    width: 170px;
    height: 205px;
    margin-right: 25px;
    display: inline-flex;
    flex: auto;
    flex-direction: column; }
  #about_us-training_team-div .about_us-training_team-member-div:last-of-type {
    margin-right: 0; }
  #about_us-training_team-div .about_us-training_team-photo-div {
    width: 140px;
    height: 184px;
    background-image: url("/assets/img/copy/desktop/photo_about_us_training_clergy.jpg"); }
  #about_us-training_team-div #training_team-photo-mt {
    background-position-x: -140px; }
  #about_us-training_team-div #training_team-photo-hj {
    background-position-x: -280px; }

.cta-contact_us-contact_info {
  margin: 0 0 13px 36px; }

/****** FOOTER ELLIPSES ******/
#footer-ellipses {
  width: 99.5%;
  height: 56px;
  position: relative;
  transform: translateY(-294px);
  z-index: 1; }
  #footer-ellipses .ellipse_shape {
    height: 112px;
    position: relative; }
  #footer-ellipses #ellipse-blue {
    width: 100.5%;
    top: -56px;
    z-index: 1; }
  #footer-ellipses #ellipse-dark_green {
    width: 42%;
    top: -168px;
    left: -13%;
    z-index: 0; }

/****** FOOTER ******/
footer {
  height: 297px;
  margin-top: 108px; }

#footer-background-div {
  width: 100%;
  position: relative;
  z-index: 2; }

#footer-container-div {
  margin: 0 auto; }
  #footer-container-div #footer-column-left-div {
    margin-left: 54px; }
  #footer-container-div #footer-contact_info-div {
    margin-left: 136px; }

.footer-contact_info-listing-div {
  margin-bottom: 16px; }
  .footer-contact_info-listing-div .contact_info-listing-title-span,
  .footer-contact_info-listing-div .contact_info-listing-info-span {
    display: block; }

#footer-copyright-span {
  display: block;
  margin: 16px 0 54px; }

#footer-links-ul {
  transform: translate(5px, 4px); }
  #footer-links-ul li {
    width: 80px;
    margin-bottom: 18px;
    list-style-type: none;
    text-align: right; }

/****** BREAKPOINTS ******/
@media screen and (max-width: 414px) {
  /****** SHADOWS ******/
  .questionnaire-div {
    box-shadow: none; }

  header #ellipse-kente {
    box-shadow: 0 0 27px #427aa1; }
  header .menu-ellipse-kente-shadow {
    box-shadow: 0 0 27px #325e83 !important; }

  /****** COLOR STYLING ******/
  #mobile-menu-options-div {
    background-color: #427aa1; }

  /****** BORDERS ******/
  header h1 {
    border-bottom: 9px double #88cf2b; }

  /******* TYPOGRAPHICAL ELEMENTS ******/
  .questionnaire-p {
    letter-spacing: -0.3px; }

  /****** COMMON ELEMENTS ******/
  .visible-desktop,
  .visible-desktop-flex {
    display: none !important; }

  .visible-mobile {
    display: block !important; }

  .copy-action-a {
    display: block; }

  .mobile-sub_page-div {
    top: 236px;
    height: fit-content; }

  .questionnaire-div {
    padding: 0 15px; }
    .questionnaire-div .questionnaire-outline-radio {
      margin-bottom: 26px; }
      .questionnaire-div .questionnaire-outline-radio .questionnaire-radio_button {
        width: 67px;
        height: 50px; }
      .questionnaire-div .questionnaire-outline-radio .questionnaire-radio_button::before {
        width: 34px;
        height: 34px; }
      .questionnaire-div .questionnaire-outline-radio .questionnaire-label {
        margin: 13px 0 0 13px; }
      .questionnaire-div .questionnaire-outline-radio .questionnaire-label-two_lines,
      .questionnaire-div .questionnaire-outline-radio .questionnaire-label-three_lines {
        margin: 0 0 0 13px; }
      .questionnaire-div .questionnaire-outline-radio .questionnaire-label-three_lines {
        position: relative;
        top: -14px; }
    .questionnaire-div .questionnaire-outline-three_lines {
      height: 52px; }
    .questionnaire-div button {
      width: 100%;
      margin: 0; }

  .mobile-h2,
  .mobile-sub_page-div p {
    padding-left: 15px;
    padding-right: 15px; }

  /****** HEADER ******/
  #nav-logo-mobile {
    width: 238px;
    height: auto;
    margin-left: -119px;
    display: block;
    position: absolute;
    top: 80px;
    left: 50%;
    z-index: 8; }

  header h1 {
    top: 167px; }

  /****** NAVIGATION ******/
  #top-mobile-nav {
    height: 72px;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    z-index: 7; }

  #nav-ul {
    width: 100%;
    height: 68px;
    padding: 0 18px;
    display: flex;
    flex: auto;
    align-items: flex-end;
    list-style-type: none; }
    #nav-ul li {
      width: 85px;
      margin-right: 15px;
      text-align: center; }
    #nav-ul li:last-of-type {
      margin-right: 0; }
    #nav-ul .nav-a img {
      width: 29px;
      margin: 0 auto;
      display: block; }
    #nav-ul #mobile-nav-a-training img {
      width: 36px; }

  /****** MENU ******/
  #mobile-menu-options-div {
    width: 100%;
    display: none;
    position: absolute;
    top: 75px;
    z-index: 3; }

  .menu-visible {
    display: block !important; }

  #mobile-menu-options-container-div {
    margin-left: 30px;
    position: relative;
    top: 127px; }
    #mobile-menu-options-container-div .menu-option-a,
    #mobile-menu-options-container-div .menu-suboption-a {
      display: block;
      margin-bottom: 4px; }

  .menu-option-category-div {
    margin-bottom: 15px; }

  .menu-option-subcategory-div {
    margin-left: 15px; }

  #menu-option-contact_us {
    margin-bottom: 15px !important; }

  .menu-footer-span {
    display: block;
    position: relative;
    transform: translateY(232px); }

  /****** HEADER ELLIPSES ******/
  header #header-ellipses {
    height: 34%;
    top: -10.5%;
    overflow: hidden;
    z-index: 6; }
  header .ellipse_shape {
    width: 91%;
    height: 91%; }
  header #ellipse-white {
    width: 87%;
    top: -3%;
    left: 13%; }
  header #ellipse-kente {
    left: 11%; }
  header #ellipse-dark_green {
    width: 43%;
    top: -3%;
    left: -8%;
    transform: rotate(-44deg); }

  /****** CAROUSEL ******/
  .carousel-item .carousel-cta {
    left: 0;
    bottom: 0;
    border-radius: 0; }
    .carousel-item .carousel-cta .cta-border-top-div {
      border-radius: 0; }
  .carousel-item img {
    margin-top: 72px; }

  #cta-homepage {
    width: 100%; }

  /****** COPY ******/
  .container {
    height: -webkit-fill-available; }

  .homepage-mobile-copy-div {
    position: relative;
    left: -15px; }
    .homepage-mobile-copy-div p {
      padding: 18px 30px 0 30px;
      margin-bottom: 0; }

  .homepage-mobile-copy-nav-div {
    width: 86px;
    height: 42px;
    margin: 16px auto 0 auto; }
    .homepage-mobile-copy-nav-div .mobile-copy-a {
      width: 16px;
      height: 16px;
      margin-right: 13px;
      display: inline-block;
      background-image: url("/assets/img/common/nav/mobile-dots.png");
      background-position: 0 0; }
    .homepage-mobile-copy-nav-div .mobile-copy-a:last-of-type {
      margin-right: 0; }
    .homepage-mobile-copy-nav-div .copy-visible-a {
      background-position: -16px 0; }

  #copy-top {
    top: -6px;
    z-index: 5; }

  #copy-middle {
    top: -5px;
    z-index: 4; }

  .copy-img {
    display: block;
    position: relative;
    top: -5px;
    left: -15px; }

  #img-middle {
    z-index: 3; }

  #copy-bottom {
    top: -5px;
    z-index: 2; }
    #copy-bottom #copy-questionnaire-a {
      width: 176px;
      margin: 16px auto 26px auto; }
    #copy-bottom #copy-form-search {
      height: 49px;
      margin: 16px 0;
      padding-left: 30px;
      padding-right: 30px; }
      #copy-bottom #copy-form-search #form-search-submit {
        height: 46px;
        margin: 0;
        position: relative; }

  #img-bottom {
    top: 0;
    left: 0; }

  #copy-nav-bottom {
    margin-top: 26px; }

  #about_us-training_team-div {
    margin-top: 16px;
    padding: 0 15px; }
    #about_us-training_team-div .about_us-training_team-member-div {
      width: 88px;
      height: 156px; }
    #about_us-training_team-div .about_us-training_team-photo-div {
      width: 88px;
      height: 114px;
      background-image: url("/assets/img/copy/mobile/photo_about_us_training_clergy.jpg"); }
    #about_us-training_team-div #training_team-photo-mt {
      background-position-x: -88px; }
    #about_us-training_team-div #training_team-photo-hj {
      background-position-x: -174px; }

  .copy-border-div-1 {
    margin-left: 15px;
    margin-right: 15px; }

  .copy-border-div-1 + p {
    margin-top: 15px; } }
@media screen and (min-width: 360px) and (max-width: 375px) {
  /****** COMMON ELEMENTS ******/
  /****** HEADER ******/
  header h1 {
    left: 31px; }

  /****** CONTAINER ******/
  .container {
    height: 1679px;
    margin-top: 0; }

  .col-12 {
    padding-left: 0;
    padding-right: 0; }

  /****** COPY ******/
  iframe,
  .homepage-mobile-copy-div,
  .copy-img {
    width: 375px; }

  iframe {
    height: 202px;
    margin: 0;
    padding: 0;
    position: relative;
    left: -15px;
    overflow: hidden; }

  #copy-form-search #form-search-input-text {
    width: 313px; }
  #copy-form-search #form-search-submit {
    top: -46px;
    left: 232px; } }
@media screen and (width: 375px) and (height: 812px) {
  #mobile-directory-main,
  #mobile-resources-main {
    height: 811px; }

  #mobile-training-main {
    height: 881px; }

  /****** MENU ******/
  #mobile-menu-options-div {
    height: 737px; } }

/*# sourceMappingURL=main.css.map */
