/* main.scss - Contains all styling for mhfcommunities.org */

/****** COLORS ******/

$white: #fff;
$black: #000;

$light_blue_1: #ebf2fa;
$light_blue_2: #67b3c6;
$light_blue_3: #8bbdd0;
$dark_blue_1: #05668d;
$dark_blue_2: #427aa1;
$dark_blue_3: #325e83;

$light_green_1: #88cf2b;
$light_green_2: #77b826;
$dark_green_1: #679136;

$dark_gray_1: #9397a0;
$dark_gray_2: #1d1e28;



/****** FONTS ******/

$myriad_pro: myriad-pro, sans-serif;
$eurostile: eurostile, sans-serif;

$font_weight_normal: 400;
$font_weight_bold: 700;



/****** SPACERS ******/

$spacer_sm_1: 3px;
$spacer_sm_2: 4px;
$spacer_sm_3: 6px;
$spacer_sm_4: 8px;
$spacer_sm_5: 9px;
$spacer_sm_6: 13px;
$spacer_sm_7: 15px;
$spacer_sm_8: 16px;
$spacer_sm_9: 18px;

$spacer_med_1: 26px;
$spacer_med_2: 30px;
$spacer_med_3: 36px;

$spacer_lg_1: 54px;
$spacer_lg_2: 62px;




/****** SHADOWS ******/

$shadow_distance: 7px;

button, 
.cta-a, 
.carousel-cta, 
input[type=search], 
.questionnaire-button, 
.questionnaire-div, 
.questionnaire-radio_button, 
.questionnaire-input-text, 
.questionnaire-input-textarea,
.copy-action-a, 
.results-search_details-div {
  box-shadow: 0 0 $shadow_distance $dark_blue_2;
}

#copy-top, 
#copy-middle, 
#copy-bottom-container-1 {
  box-shadow: 0 2px $shadow_distance $dark_blue_2;
}



/****** TYPOGRAPHY STYLING ******/  

#nav-ul .nav-a .nav-span, 
button, 
.cta-a, 
.questionnaire-button, 
.copy-action-a {
  font-family: $eurostile;
}

p, 
input[type=search], 
.footer-contact_info-listing-div, 
.contact_info-listing-info-a, 
#footer-copyright-span, 
.footer-links-a, 
.about_us-quote-blockquote, 
.about_us-quote-figcaption, 
h2, 
.about_us-community-ol li, 
.about_us-community-a, 
.about_us-training_team-individual-span, 
h1, 
.cta-contact_us-contact_info, 
.cta-contact_us-contact_info a, 
.questionnaire-contact_form-label, 
.questionnaire-input-text, 
.questionnaire-input-textarea, 
.cta-link-a, 
.menu-option-a, 
.menu-suboption-a, 
.menu-footer-span, 
.results-a, 
.listing-link-a {
  font-family: $myriad_pro;
}

#nav-ul .nav-a .nav-span, 
p, 
.contact_info-listing-info-span, 
#footer-copyright-span, 
.about_us-quote-figcaption, 
.about_us-community-ol li, 
.about_us-community-a, 
.cta-contact_us-contact_info, 
.questionnaire-input-text, 
.questionnaire-input-textarea, 
.menu-option-a, 
.menu-suboption-a, 
.listing-link-a {
  font-weight: 400;
}

.carousel-item .carousel-cta p, 
.questionnaire-p, 
.contact_info-listing-title-span, 
#footer-copyright-span, 
.about_us-quote-blockquote, 
.about_us-training_team-individual-span, 
.questionnaire-contact_form-label, 
.cta-link-a, 
.results-a {
  font-weight: 600;
}

button, 
.cta-a, 
.p-first:first-line, 
.questionnaire-button, 
h2, 
h1,
.copy-action-a, 
.menu-footer-span { 
  font-weight: 700;
}

button, 
.cta-a, 
.questionnaire-button,  
#footer-copyright-span, 
.about_us-training_team-individual-span, 
#top-mobile-nav #nav-ul .nav-a .nav-span,
.copy-action-a, 
.menu-footer-span { 
  font-size: 0.8rem;
}

.about_us-training_team-individual-span, 
.menu-suboption-a {
  font-size: 0.9rem;
}

#top-desktop-nav #nav-ul .nav-a .nav-span, 
.homepage-mobile-copy-div p, 
.homepage-mobile-copy-div input[type=search], 
.copy-border-div-1 + p, 
.menu-option-a, 
.col-sm-12 p, 
.results-a, 
.listing-link-a, 
.listing-p {
  font-size: 1rem !important;
}

.carousel-item .carousel-cta p, 
.container p, 
input[type=search], 
.questionnaire-label, 
.footer-contact_info-listing-div, 
.footer-links-a, 
.about_us-quote-figcaption, 
.about_us-community-ol li, 
.about_us-community-a, 
.cta-contact_us-contact_info, 
.questionnaire-contact_form-label, 
.questionnaire-input-text, 
.questionnaire-input-textarea, 
.cta-link-a {
  font-size: 1.1rem;
}

.container .questionnaire-p, 
.col-sm-12 .p-first:first-line {
  font-size: 1.5rem;
}

.p-first:first-line, 
.about_us-quote-blockquote, 
h2 {
  font-size: 1.7rem;
}

h1 {
  font-size: 2.25rem;
}

.questionnaire-radio_button::before {
  font-size: 23.8em;
}

.results-a {
  color: $white;
}

button, 
.cta-a, 
.questionnaire-button, 
#copy-top p,
.copy-action-a, 
.menu-option-a, 
.menu-suboption-a, 
.menu-footer-span {
  color: $light_blue_1;
}

p, 
.questionnaire-label, 
.footer-contact_info-listing-div, 
#footer-copyright-span, 
.about_us-quote-blockquote, 
.about_us-quote-figcaption, 
h2, 
.about_us-community-ol li, 
.about_us-training_team-individual-span, 
.cta-contact_us-contact_info, 
.questionnaire-contact_form-label {
  color: $dark_blue_1;
}

h1 {
  color: $dark_blue_2;
}

#nav-ul .nav-a .nav-span, 
.contact_info-listing-info-a, 
.footer-links-a, 
.about_us-community-a, 
.cta-contact_us-contact_info a, 
.cta-link-a, 
.listing-link-a {
  color: $dark_green_1;
}

input[type=search], 
.questionnaire-input-text::placeholder, 
.questionnaire-input-textarea::placeholder {
  color: $dark_gray_1;
}

.questionnaire-input-text, 
.questionnaire-input-textarea {
  color: $dark_gray_2;
}

.questionnaire-p {
  line-height: 1.2;
}

.about_us-quote-blockquote {
  line-height: 1.3;
}

.contact_info-listing-info-a, 
.footer-links-a, 
.about_us-community-a, 
.cta-contact_us-contact_info a, 
.listing-link-a {
  text-decoration: underline;
}

#nav-ul .nav-a .nav-span, 
button, 
.cta-a, 
.questionnaire-button, 
.copy-action-a {
  text-transform: uppercase;
}

.about_us-quote-blockquote {
  font-style: italic;
}

.questionnaire-p, 
h1 {
  letter-spacing: -0.7px;
}

.about_us-quote-blockquote, 
.about_us-training_team-individual-span {
  letter-spacing: -0.3px;
}

.homepage-mobile-copy-div p, 
.menu-suboption-a {
  letter-spacing: -0.1px;
}

.p-first:first-line {
  letter-spacing: 0;
}

p, 
.about_us-quote-figcaption, 
.about_us-community-ol li, 
.cta-contact_us-contact_info, 
.menu-suboption-a, 
.result-a, 
.listing-link-a {
  letter-spacing: 0.2px;
}

button, 
.cta-a, 
.questionnaire-button, 
.copy-action-a {
  letter-spacing: 1.1px;
}

.contact_info-listing-info-a, 
.footer-links-a, 
.about_us-community-a, 
.cta-link-a, 
.results-a {
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

.contact_info-listing-info-a:hover, 
.footer-links-a:hover, 
.about_us-community-a:hover, 
.cta-link-a:hover, 
.results-a:hover, 
.listing-link-a:hover {
  color: $light_green_1;
}

.menu-option-a:active, 
.menu-suboption-a:active, 
.results-a:active, 
.listing-link-a:active {
  color: $light_green_1;
}

.cta-a:hover,
.copy-action-a:hover {
  color: $light_blue_1;
  text-decoration: none;
}


/****** COLOR STYLING ******/

button, 
.cta-a, 
.questionnaire-button, 
.questionnaire-radio_button::before,
.copy-action-a {
  background-color: $dark_green_1;
}

#header-ellipses #ellipse-dark_green, 
#homepage-ellipses #ellipse-dark_green, 
#footer-ellipses #ellipse-dark_green, 
.results-search_details-div {
  background-color: $dark_blue_1;
}

#header-ellipses #ellipse-white {
  background-color: $white;
}

#homepage-ellipses #ellipse-blue, 
#header-ellipses #ellipse-blue, 
.questionnaire-radio_button, 
#footer-background-div, 
#footer-ellipses #ellipse-blue {
  background-color: $light_blue_1;
}

.carousel-cta, 
.questionnaire-div {
  background-color: $light_blue_1;

  .cta-border-top-div, 
  .questionnaire-border-top-div {
    background-color: $dark_green_1;
  }

  p {
    background-color: $light_blue_1;
  }
}

.copy-border-div-1 {
  background-color: $light_blue_2;
}

.questionnaire-border-div-1 {
  background-color: $light_blue_3;
}

button, 
.cta-a, 
.questionnaire-button, 
.copy-action-a {
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

button:hover, 
.cta-a:hover, 
.questionnaire-button:hover,
.copy-action-a:hover{
  background-color: $light_green_2;
}

#top-mobile-nav {
  background-color: $white;
}

#copy-top {
  background-color: $dark_blue_3;
}



/****** BORDERS ******/

button, 
.cta-a, 
.questionnaire-button, 
.copy-action-a {
  border: 2px solid $light_blue_1;
  border-radius: 8px;
}

#header-ellipses #ellipse-dark_green, 
#homepage-ellipses #ellipse-dark_green, 
#footer-ellipses #ellipse-dark_green {
  border: 10px solid $light_green_1;
}

#homepage-ellipses #ellipse-blue, 
#footer-ellipses #ellipse-blue {
  border: 10px solid $light_blue_2;
}

#header-ellipses #ellipse-blue {
  border: 10px solid $light_blue_3;
}

.questionnaire-radio_button {
  border: 4px solid $dark_green_1;
}

#top-mobile-nav {
  border-bottom: 2px solid $light_green_1;
}

iframe {
  border-bottom: 5px solid $light_blue_3;
}

#copy-top, 
#img-middle {
  border-bottom: 5px solid $dark_green_1;
}

#copy-bottom-container-2 {
  border-top: 5px solid $dark_green_1;
}

#copy-middle, 
#copy-bottom-container-1 {
  border-bottom: 5px solid $dark_blue_1;
}

.results-search_details-div {
  border: 3px solid $white;
}

.listing-bullet-div {
  border: 3px solid $light_blue_3;
}

.listing-p {
  border-bottom: 2px solid $light_blue_3;
}

.results-listing-div:last-of-type .listing-p {
  border-bottom: none;
}

.results-listing-div:last-of-type {
  border-bottom: 6px double $light_green_1;
}

.carousel-cta, 
.questionnaire-div, 
.copy-questionnaire-img, 
#copy-about_us-right-img, 
#copy-contact_us-right-img {
  border-radius: 5px;

  .cta-border-top-div, 
  .questionnaire-border-top-div {
    border-radius: 5px 5px 0 0;
  }
}

.results-search_details-div {
  border-radius: 8px;
}

.copy-border-div-1, 
.questionnaire-border-div-1 {
  border-radius: 0 0 5px 5px;
}

input[type=search], 
.questionnaire-input-text, 
.questionnaire-input-textarea {
  border: 2px solid $light_blue_1;
  border-radius: 5px;
}

.ellipse_shape, 
.questionnaire-radio_button, 
.questionnaire-radio_button::before, 
.listing-bullet-div {
  border-radius: 100%;
}



/******* COMMON ELEMENTS ****** */

:root {
  margin: 0;
  padding: 0;
  background-color: $white;
  overflow-x: hidden;
  z-index: 0;
}

button, 
.cta-a, 
.questionnaire-button, 
.copy-action-a {
  margin: 40px;
  padding: 11px;
}

input[type=search] {
  padding: 9px 16px 8px 16px;
}

.visible-desktop {
  display: block !important;
}

.visible-desktop-flex {
  display: flex !important;
}

.visible-mobile {
  display: none !important;
}

.visible-mobile-menu {
  display: none;
}


/******* HEADER ******/

header {
  z-index: 2;

  #header-ellipses {
    width: 99.5%;
    height: 31%;
    position: absolute;
    top: -16.5%;
  }
  
  .ellipse_shape {
    width: 94%;
    height: 100%;
    position: absolute;
  }

  #ellipse-white {
    width: 93%;
    top: -3%;
    left: 6.5%;
    z-index: 6;
  }
  
  #ellipse-kente {
    left: 6%;
    background-image: url('/assets/img/common/borders/kente.jpg');
    background-repeat: repeat;
    z-index: 5;
  }

  #ellipse-dark_green {
    width: 43%;
    top: -39%;
    left: -17%;
    transform: rotate(22deg);
    z-index: 4;
  }

  #ellipse-blue {
    width: 64%;
    top: 20%;
    left: -14%;
    transform: rotate(5deg);
    z-index: 3;
  }

  h1 {
    position: absolute;
    top: 13.5%;
    left: 21%;
    z-index: 4;
  }
}



/****** NAVIGATION ******/

#top-desktop-nav {
  width: 960px;
  margin-left: -480px;
  display: flex;
  position: absolute;
  top: 2%;
  left: 50%;
  z-index: 7;

  #nav-logo-desktop {
    display: block;
    flex: auto;
  } 

  #nav-ul {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex: auto;
    align-items: flex-end;

    li {
      width: 100px;
      margin-bottom: 23px;
      flex: auto;
      list-style-type: none;
      text-align: center;

    }

    .nav-a {
      text-decoration: none;

      img {
        width: 36px;
      }

      .nav-span {
        display: block;
      } 
    }

    #nav-a-about_us img, 
    #nav-a-contact_us img {
      margin-bottom: 5px;
    }
  }
}



/****** CAROUSEL ******/

.carousel {
  z-index: 2;
}

.carousel-item  {
  img {
    width: 100%;
    height: auto;
  }

  .carousel-cta {
    position: absolute;
    left: 19.5%;
    bottom: 19.5%;
  }

  .carousel-cta {
    .cta-border-top-div {
      height: 8px;
    }

    p {
      margin: $spacer_med_1;
    }

    .cta-button, 
    .cta-a {
      margin: 0 0 $spacer_med_1 $spacer_med_1;
      display: block;
    }
  }
}

#cta-homepage {
  width: 322px;
}

#cta-about_us {
  width: 378px;

  .cta-a {
    width: 173px;
  }
}

#cta-contact_us {
  width: 297px;
  
  .cta-a {
    width: 238px;
    margin: $spacer_med_1 0 $spacer_med_3 $spacer_med_1;
  }
}

#cta-directory {
  width: 477px;

  .cta-a {
    width: 184px;
  }
}

#contact_info-phone_number {
  margin: $spacer_med_1 0 $spacer_sm_6 $spacer_med_1;
}


/****** QUESTIONNAIRES ******/

.questionnaire-div {
  .questionnaire-border-top-div {
    height: 8px;
  }

  .questionnaire-outline-radio {
    margin-bottom: $spacer_sm_6;
    display: flex;
  
    .questionnaire-radio_button {
      width: 58px;
      height: 58px;
      position: relative;
      appearance: none;
      -webkit-appearance: none;
    }

    .questionnaire-radio_button::before {
      width: 42px;
      height: 42px;
      display: block;
      content: " ";
      transform: translate(4px, 4px) scale(0);
      transform-origin: center;
      transition: all 0.2s ease-in;
    }

    .questionnaire-radio_button:checked::before {
      transform: translate(4px, 4px) scale(1);
      transition: all 0.2s ease-out;
    }

    .questionnaire-label {
      width: 350px;
      margin: $spacer_sm_8 0 0 $spacer_sm_6;
    }

    .questionnaire-label-two_lines {
      margin: $spacer_sm_2 0 0 $spacer_sm_6;
    }
  }

  .questionnaire-contact_form-div {
    margin-bottom: $spacer_med_1;
  }

  .questionnaire-contact_form-label {
    display: block;
    margin: $spacer_sm_6 0;
  }

  .questionnaire-input-text,
  .questionnaire-input-textarea {
    padding: 5px 8px 7px 8px;
  }
}


/****** HOMEPAGE ELLIPSES ******/

#homepage-ellipses {
  width: 99.5%;
  height: 56px;
  z-index: 1;

  .ellipse_shape {
    height: 112px;
    position: relative;
    border-radius: 100%;
  }

  #ellipse-blue {
    width: 88.5%;
    top: -56px;
    left: 12%;
    z-index: 1;
  }

  #ellipse-dark_green {
    width: 100%;
    top: -168px;
    left: -10px;
    z-index: 0;
  }
}



/****** COPY ******/

.container {
  margin-top: $spacer_med_3;
  display: flex;

  .col-6 {
    display: flex;
    flex: auto;
    flex-direction: column;
  }

  .col-left {
    p, 
    img, 
    .questionnaire-div,  
    h2, 
    #about_us-training_team-div, 
    .copy-border-div-1 {
      margin: $spacer_sm_8 0 0 $spacer_lg_1;
    }

    #about_us-background-left-div {
      margin: $spacer_med_3 0 $spacer_med_3 $spacer_lg_1;
    }

    #questionnaire-homepage {
      margin: $spacer_med_1 0 0 $spacer_lg_1;
    }
    
    .questionnaire-p {
      width: 415px;
      margin: $spacer_sm_8 0 $spacer_sm_6 $spacer_med_1;
    }

    form {
      margin-left: $spacer_med_1;
    }

    .questionnaire-border-div-1 {
      width: 90%;
      height: 5px;
      margin: $spacer_sm_6 auto;
    }

    .questionnaire-button {
      margin: $spacer_sm_6 0 $spacer_med_1 0;
    }

    .questionnaire-input-text, 
    .questionnaire-input-textarea {
      width: 416px;
    }

    .questionnaire-input-textarea {
      height: 286px;
    }
  }

  .col-right {
    p, 
    img, 
    iframe, 
    .copy-border-div-1, 
    form, 
    h2, 
    .about_us-community-ol {
      margin: $spacer_sm_8 0 0 $spacer_lg_2;
    }

    .search-h2 {
      margin: $spacer_sm_5 0 0 $spacer_lg_2;
    }

    p, 
    img, 
    .copy-border-div-1, 
    input[type=search], 
    h2, 
    .about_us-community-ol {
      width: 395px;
    }

    #copy-form-search {
      height: 48px;
      margin: $spacer_med_1 0 $spacer_sm_6 $spacer_lg_2;
    }

    #form-search-submit {
      margin: 0;
      position: relative;
      top: -46px;
      left: 317px;
    }
  }
}

.copy-border-div-1 {
  height: 5px;
  margin-top: $spacer_sm_6;
}

#homepage-background-top-left-div {
  background-image: url('/assets/img/copy/desktop/background_homepage_copy_top.svg');
  background-repeat: no-repeat;

  p {
    margin-left: $spacer_lg_1;
  }

  .p-first {
    margin-top: 0;
    padding-top: $spacer_lg_1;
  }
}

#copy-homepage-left-img {
  margin-left: 0;
}

#homepage-background-top-right-div {
  width: 100%;
  height: 261px;
  margin-top: 50px;
  background-image: url('/assets/img/copy/desktop/background_homepage_video.svg');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50% 0;

  iframe {
    margin-top: 21px;
  }
}

#copy-homepage-top-right-img {
  margin: $spacer_sm_8 0 $spacer_sm_8 $spacer_lg_2;
}

#about_us-background-left-div {
  height: 252px;
  background-image: url('/assets/img/copy/desktop/background_about_us_quote.svg');
  background-repeat: no-repeat;
  background-size: 88%;
  background-position: 50% 0;

  .about_us-quote-blockquote {
    display: block;
    position: relative;
    transform: translate(30px, 70px);
  }

  .about_us-quote-figcaption {
    transform: translate(53px, 55px);
  }
}

#copy-about_us-right-img {
  margin-top: 31px;
}

.about_us-community-ol {
  padding-left: 16px;

  li {
    margin-bottom: $spacer_sm_8;
  }
}

#about_us-training_team-div {
  display: flex;

  .about_us-training_team-member-div {
    width: 170px;
    height: 205px;
    margin-right: 25px;
    display: inline-flex;
    flex: auto;
    flex-direction: column;
  }

  .about_us-training_team-member-div:last-of-type {
    margin-right: 0;
  }

  .about_us-training_team-photo-div {
    width: 140px;
    height: 184px;
    background-image: url('/assets/img/copy/desktop/photo_about_us_training_clergy.jpg');
  }

  #training_team-photo-mt {
    background-position-x: -140px;
  }

  #training_team-photo-hj {
    background-position-x: -280px;
  }
}

.cta-contact_us-contact_info {
  margin: 0 0 $spacer_sm_6 $spacer_med_1;
}



/****** FOOTER ELLIPSES ******/

#footer-ellipses {
  width: 99.5%;
  height: 56px;
  position: relative;
  transform: translateY(-294px);
  z-index: 1;

  .ellipse_shape {
    height: 112px;
    position: relative;
  }

  #ellipse-blue {
    width: 100.5%;
    top: -56px;
    z-index: 1;
  }

  #ellipse-dark_green {
    width: 42%;
    top: -168px;
    left: -13%;
    z-index: 0;
  }
}



/****** FOOTER ******/

footer {
  height: 297px;
  margin-top: 108px;
}

#footer-background-div {
  width: 100%;
  position: relative;
  z-index: 2;
}

#footer-container-div {
  margin: 0 auto;

  #footer-column-left-div {
    margin-left: 54px;
  }

  #footer-contact_info-div {
    margin-left: 136px;
  }
}

.footer-contact_info-listing-div {
  margin-bottom: $spacer_sm_8;

  .contact_info-listing-title-span, 
  .contact_info-listing-info-span {
    display: block;
  }
}

#footer-copyright-span {
  display: block;
  margin: $spacer_sm_8 0 $spacer_lg_1;
}

#footer-links-ul {
  transform: translate(5px, 4px);

  li {
    width: 80px;
    margin-bottom: $spacer_sm_9;
    list-style-type: none;
    text-align: right;
  }
}



/****** BREAKPOINTS ******/

@media screen and (min-width: 1601px) and (max-width: 1920px)  {
  header { 
    h1 {
      left: 25.75%;
    }
  }

  .carousel-item {
    .carousel-cta {
      left: 24.5%;
    }
  }
}


@media screen and (min-width: 1281px) and (max-width: 1366px)  {
  nav {
    width: 824px;
    margin-left: -412px;
  }

  #nav-ul {
    padding-left: $spacer_sm_8;
  }

  header { 
    h1 {
      top: 13.5%;
      left: 14%;
    }

    .ellipse_shape {
      height: 108%;
    }
  }

  .carousel-item {
    .carousel-cta {
      left: 12%;
    }
  }
  
  #cta-directory {
    bottom: 9.5%;
  }

  #questionnaire-directory, 
  #questionnaire-contact_form {
    margin: $spacer_sm_8 0 0 $spacer_med_1;
  }
}

@media screen and (max-width: 414px)  {

  /****** SHADOWS ******/

  .questionnaire-div {
    box-shadow: none;
  }

  header {
    #ellipse-kente {
      box-shadow: 0 0 27px $dark_blue_2;
    }

    .menu-ellipse-kente-shadow {
      box-shadow: 0 0 27px $dark_blue_3 !important;
    }
  }
  


  /****** COLOR STYLING ******/

  :root, 
  body {
    background-color: $light_blue_1;
  }

  #mobile-menu-options-div {
    background-color: $dark_blue_2;
  }
  
  
  
  /****** BORDERS ******/

  header {
    h1 {
      border-bottom: 9px double $light_green_1;
    }
  }



  /******* TYPOGRAPHICAL ELEMENTS ******/

  .questionnaire-p {
    letter-spacing: -0.3px;
  }

  .cta-contact_us-contact_info, 
  .questionnaire-contact_form-label {
    font-size: 1rem;
  }
  
  
  /****** COMMON ELEMENTS ******/
  
  .visible-desktop, 
  .visible-desktop-flex {
    display: none !important;
  }

  .visible-mobile {
    display: block !important;
  }

  header {
    height: 72px;
  }

  .copy-action-a {
    display: block;
  }

  .mobile-sub_page-div {
    height: fit-content;
  }

  .questionnaire-div {
    margin-bottom: $spacer_sm_4;
    padding: 0 $spacer_sm_7;

    .questionnaire-outline-radio { 
      margin-bottom: $spacer_med_1;
      
      .questionnaire-radio_button {
        width: 67px;
        height: 50px;
      }

      .questionnaire-radio_button::before {
        width: 34px;
        height: 34px;
      }

      .questionnaire-label {
        margin: $spacer_sm_6 0 0 $spacer_sm_6;
      }

      .questionnaire-label-two_lines, 
      .questionnaire-label-three_lines {
        margin: 0 0 0 $spacer_sm_6;
      }

      .questionnaire-label-three_lines {
        position: relative;
        top: -14px;
      }
    }

    .questionnaire-outline-three_lines {
      height: 52px;
    }

    .questionnaire-button {
      width: 100%;
      margin: 0;
    }

    .questionnaire-input-text, 
    .questionnaire-input-textarea {
      width: 100%;
    }
  }

  .cta-contact_us-contact_info {
    padding-left: $spacer_sm_7;
    padding-right: $spacer_sm_7;
  }

  .cta-contact_us-contact_info + .copy-border-div-1 {
    margin-left: $spacer_sm_7;
    margin-right: $spacer_sm_7;
  }

  .copy-border-div-1 + .questionnaire-div {
    margin-bottom: $spacer_med_2;
  }

  body {
    overflow-x: hidden;
  }

  .overflow-hidden-body {
    overflow: hidden;
  }



  /****** HEADER ******/
  
  #nav-logo-mobile {
    width: 238px;
    height: auto;
    margin-left: -119px;
    display: block;
    position: absolute;
    top: 80px;
    left: 50%;
    z-index: 8;
  }

  header h1 {
    top: 167px;
    z-index: 3;
  }
  


  /****** NAVIGATION ******/

  #top-mobile-nav {
    height: 72px;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    z-index: 7;
  }

  #nav-ul {
    width: 100%;
    height: 68px;
    padding: 0 $spacer_sm_8;
    display: flex;
    flex: auto;
    align-items: flex-end;
    list-style-type: none;

    li {
      width: 85px;
      margin-right: $spacer_sm_7;
      text-align: center;
    }

    li:last-of-type {
      margin-right: 0;
    }

    .nav-a {
      img {
        width: 29px;
        margin: 0 auto;
        display: block;
      }
    }

    #mobile-nav-a-training img { 
      width: 36px;
    }
  }



  /****** MENU ******/

  #mobile-menu-options-div {
    width: 100%;
    display: none;
    position: absolute;
    top: 75px;
    z-index: 3;
  }

  .menu-visible {
    display: block !important;
  }

  #mobile-menu-options-container-div {
    margin-left: $spacer_med_2;
    position: relative;
    top: 127px;

    .menu-option-a, 
    .menu-suboption-a {
      display: block;
      margin-bottom: $spacer_sm_2;
    }
  }

  .menu-option-category-div {
    margin-bottom: $spacer_sm_7;
  }

  .menu-option-subcategory-div {
    margin-left: $spacer_sm_7;
  }

  #menu-option-contact_us {
    margin-bottom: $spacer_sm_7 !important;
  }

  .menu-footer-span {
    display: block;
    position: relative;
    transform: translateY(232px);
  }



  /****** HEADER ELLIPSES ******/

  header { 
    #header-ellipses {
      height: 34%;
      top: -10.5%;
      overflow: hidden;
      z-index: 6;
    }

    .ellipse_shape {
      width: 91%;
      height: 91%;
    }

    #ellipse-white {
      width: 87%;
      top: -3%;
      left: 13%;
    }

    #ellipse-kente {
      left: 11%;
    }

    #ellipse-dark_green {
      width: 43%;
      top: -3%;
      left: -8%;
      transform: rotate(-44deg);
    }
  }



  /****** CAROUSEL ******/

  .carousel {
    margin-top: 164px;
  }

  .carousel-item {
    .carousel-cta {
      left: 0;
      bottom: 0; 
      border-radius: 0;     

      .cta-border-top-div {
        border-radius: 0;
      }
    }

    img {
      margin-top: 72px;
    }
  }

  #cta-homepage {
    width: 100%;
  }



  /****** COPY ******/

  .container {
    margin-top: 164px;
    padding-left: 0;
    padding-right: 0;

    .questionnaire-p {
      padding: 0;
    }

    .col-left p, 
    .col-right p {
      margin: 0 0 $spacer_med_1 0;
      padding-left: 0;
      padding-right: 0;
    }

    .col-left, 
    .col-right {
      h2 {
        margin: $spacer_sm_8 0;
      }
    }

    .col-left {
      #about_us-background-left-div {
        margin: $spacer_med_3 0 $spacer_med_1 0;
      }
    }

    .col-right { 
      .about_us-community-ol { 
        margin: 0 0 $spacer_med_2 0;
        
        li, 
        .about_us-community-a {
          font-size: 1rem;
        }
      }
    }

    #about_us-background-left-div {
      .about_us-quote-blockquote {
        line-height: 1.2;
        transform: translate(10px, 16px);
      }

      .about_us-quote-figcaption {
        transform: translate(53px, 2px)
      }
    }
  }

  #mobile-about_us-main {
    flex-direction: column;
  }

  .homepage-mobile-copy-div {
    position: relative;
    left: -15px;

    p {
      padding: $spacer_sm_8 $spacer_med_2 0 $spacer_med_2;
      margin-bottom: 0;
    }
  }

  #mobile-training-main, 
  #mobile-about_us-main {
    padding-left: $spacer_sm_7;
    padding-right: $spacer_sm_7;
  }


  .homepage-mobile-copy-nav-div {
    width: 86px;
    height: 42px;
    margin: $spacer_sm_8 auto 0 auto;

    .mobile-copy-a {
      width: 16px;
      height: 16px;
      margin-right: $spacer_sm_6;
      display: inline-block;
      background-image: url('/assets/img/common/nav/mobile-dots.png');
      background-position: 0 0;
    }

    .mobile-copy-a:last-of-type {
      margin-right: 0;
    }

    .copy-visible-a {
      background-position: -16px 0;
    }
  }

  #copy-top {
    top: -6px;
    z-index: 5;
  }

  #copy-middle {
    top: -5px;
    z-index: 4;
  }

  .copy-img {
    display: block;
    position: relative;
    top: -5px;
    left: -15px;
  }

  #img-middle {
    z-index: 3;
  }

  #copy-bottom {
    top: -5px;
    z-index: 2;

    #copy-questionnaire-a {
      width: 176px;
      margin: $spacer_sm_8 auto $spacer_med_1 auto;
    }

    #copy-form-search {
      height: 49px;
      margin: $spacer_sm_8 0;
      padding-left: $spacer_med_2;
      padding-right: $spacer_med_2;

      #form-search-submit {
        height: 46px;
        margin: 0;
        position: relative;
      }
    }
  }

  #img-bottom {
    top: 0;
    left: 0;
  }

  #copy-nav-bottom {
    margin-top: $spacer_med_1;
  }

  #about_us-training_team-div {
    margin-top: $spacer_sm_8;

    .about_us-training_team-member-div {
      width: 88px;
      height: 156px;
    }

    .about_us-training_team-photo-div {
      width: 88px;
      height: 114px;
      background-image: url("/assets/img/copy/mobile/photo_about_us_training_clergy.jpg")
    }

    #training_team-photo-mt {
      background-position-x: -88px;
    }

    #training_team-photo-hj {
      background-position-x: -174px;
    }
  }

  .copy-border-div-1 + p {
    margin-top: $spacer_sm_7;
  }

  #contact_info-phone_number, 
  .cta-contact_us-contact_info {
    margin: 0 0 $spacer_sm_6 0;
  }

  #contact_info-instagram + .copy-border-div-1 {
    margin-top: $spacer_sm_8;
    margin-bottom: $spacer_sm_5;
  }



  /****** RESULT LISTINGS ******/

  .results-header-div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .results-h2 {
      flex-shrink: 1;
    }

    .results-search_details-div {
      padding: $spacer_sm_1 $spacer_sm_5 $spacer_sm_3 $spacer_sm_4;
      display: flex;
      position: relative;
      top: -2px;
    }

    .results-a {
      margin-right: $spacer_sm_2;
    }

    #results-a-img {
      position: relative;
      top: -2px;
    }
  }

  .results-listing-div {
    margin-top: $spacer_sm_8;

    .listing-bullet_and_link-div {
      display: flex;
    }

    .listing-bullet-div {
      width: 10px;
      height: 10px;
      margin: $spacer_sm_4 $spacer_sm_4 0 0;
    }

    .listing-link-a {
      flex-shrink: 1;
    }

    .listing-p  {
      margin: $spacer_sm_4 0 $spacer_sm_8 $spacer_sm_8;
      padding-bottom: $spacer_sm_8;
    }
  }

  .results-listing-div:last-of-type {
    .listing-p {
      padding-bottom: 0;
    }
  }

  #listings-resources-button-1 {
    margin: $spacer_med_1 0;
    padding: 11px 31px;
    text-align: left;
  }
}



@media screen and (min-width: 360px) and (max-width: 375px)  {
  
  /****** COMMON ELEMENTS ******/

  

  /****** HEADER ******/

  header {
    h1 {
      left: 31px;
    }
  }
  

    
  /****** CONTAINER ******/

  .container {
    .col-right { 
      .about_us-community-ol, 
      p { 
        width: 315px;
      }
    }
  }

  #container-homepage-main {
    margin-top: 0;
  }

  /* #mobile-training-main {
    height: 888px;
  }

  #mobile-directory-main, 
  #mobile-resources-main {
    height: 811px;
  }

  #mobile-contact_us-main {
    height: 1070px;
  } */
  
  
  /****** COPY ******/

  iframe, 
  .homepage-mobile-copy-div, 
  .copy-img {
    width: 375px;
  }

  iframe {
    height: 202px;
    margin: 0;
    padding: 0;
    position: relative;
    left: -15px;
    overflow: hidden;
  }

  #copy-form-search {
    #form-search-input-text {
      width: 313px;
    }

    #form-search-submit {
      top: -46px;
      left: 232px;
    }
  }

  #about_us-background-left-div {
    height: 168px;
  }
}



@media screen and (width: 375px) and (height: 812px)  {
  
  /****** MENU ******/

  #mobile-menu-options-div { 
    height: 737px;
  }



  /****** CONTACT FORM ******/

  .questionnaire-input-textarea {
    height: 170px;
  }
}